$font-size-base: .8rem;

@import "bootstrap-5.3.8/scss/bootstrap";

.navbar-dropdown {
    min-width: 160px;
}

.about-dialog {
    z-index: 1060;
    width: 340px;
    user-select: none;
}

.about-titlebar {
    height: 26px;
    cursor: move;
}

.source-pane-sidebar {
    width: 220px;
    min-width: 100px;
}

.sortable-header {
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

@include media-breakpoint-down(lg) {
    .text-break-lg {
        word-wrap: break-word !important;
        word-break: break-word !important;
    }
}