<nav class="navbar navbar-expand bg-black bg-gradient border-bottom flex-shrink-0 p-1">
    <span class="navbar-brand-text px-2 me-2">{{app_name}}</span>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link px-2 py-0" role="button" data-bs-toggle="dropdown" href="#">{{menu_file}}</a>
            <ul class="dropdown-menu rounded-0 py-0 border shadow-none navbar-dropdown">
                <li><a class="dropdown-item py-1" href="#" onclick="reloadAll();return false;">{{menu_file_reload}}</a></li>
                <li><hr class="dropdown-divider my-0"></li>
                <li><a class="dropdown-item py-1 text-danger" href="#" onclick="return false;">{{menu_file_exit}}</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link px-2 py-0" role="button" data-bs-toggle="dropdown" href="#">{{menu_view}}</a>
            <ul class="dropdown-menu rounded-0 py-0 border shadow-none navbar-dropdown">
                <li><a class="dropdown-item py-1" href="#" onclick="switchTab('stable');return false;">{{menu_view_stable}}</a></li>
                <li><a class="dropdown-item py-1" href="#" onclick="switchTab('lazer');return false;">{{menu_view_lazer}}</a></li>
                <li><hr class="dropdown-divider my-0"></li>
                <li><a class="dropdown-item py-1" href="#" onclick="toggleHideUnknown();return false;" id="hide-unknown-item">{{menu_view_hide_unknown}}</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link px-2 py-0" role="button" data-bs-toggle="dropdown" href="#">{{menu_help}}</a>
            <ul class="dropdown-menu rounded-0 py-0 border shadow-none navbar-dropdown">
                <li><a class="dropdown-item py-1" href="#" onclick="showAbout();return false;">{{menu_help_about}}</a></li>
            </ul>
        </li>
    </ul>
</nav>

