<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{app_name}}</title>
        <link rel="stylesheet" href="/static/index.css">
        <script src="/static/bootstrap.bundle.min.js" defer></script>
        <script src="/static/index.js" defer></script>
    </head>
    <body class="vh-100 d-flex flex-column overflow-hidden">
        {{{content}}}
    </body>
</html>

